.header-logo {
    margin-right: 5px;
    height: 36px;
}

.menu {
    display: flex;
    padding: 5px;
    gap: 5px;
}

.header-logo-big {
    margin-right: 5px;
    height: 60px;
}

.left {
    width: 10%;
}

.middle {
    width: 80%;
}

.flex-spacer {
    flex-grow: 1;
}
